.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 50px;
    max-width: 880px;    
    width: 100%;
}

@media screen and (max-width: 920px) {
    .profile {
        min-width: 90%;
        max-width: 600px;
    }
}

@media screen and (max-width: 640px) {
    .profile {
        margin: 42px auto 36px;
        /* Ola, Julia... O Thiago me disse que falou com voce sobre essa parte, certo?
        Mudei para 42px, ok? Baseado no bloco profile do figma, medindo do bloco
        ate a linha do header. */
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}