.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 50px;
    max-width: 880px;    
    width: 100%;
}

@media screen and (max-width: 920px) {
    .profile {
        min-width: 90%;
        max-width: 600px;
    }
}

@media screen and (max-width: 640px) {
    .profile {
        margin: 38px auto 36px;
        /* Ola, Julia... eu alterei a margin superior para 38px conforme
        voce solicitou, mas estou um pouco confusa. Essa margem se refere ao 
        layout de 320px no figma, correto? Se sim, o jeito de verificar seria
        seleciiona e clicar no profile, e medir ate a linha que atravessa o 
        header. Se for isso, esta mostrando 42px superior. Ou estou vendo isso
        de forma incorreta? */
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}